.login-page {
  position: relative;
  height: 100vh;

  background-image: url('../../../../public/images/img00.jpg');
  background-position: 50% 30%;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  .contents-wrap{
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    text-align: center;

    .login-btn{
        font-size: 1.6rem;
        width: 24rem;
        height: 5rem;
    }
    span{
        margin-bottom: 2rem;
        font-size: 4rem;
        font-weight: 600;
        color: #fff;
        display: block;
    }
  }
 &::after{
    content: "";
     position: absolute;
     top: 0;
     left: 0;
     height: 100vh;
     width: 100%;
     background-color: #00000050;

 }
 .signup-text{
  padding-top: 2rem;
  font-size: 1.6rem;
  color: #fff;
  a{
    color: #fff;
    text-decoration: underline;
  }
 }
.btn-wrap{
  display: flex;
  align-items: center;
  // flex-direction: column;
  gap: 2rem;
  .google-btn{
    background-color: #fff;
    padding: .5rem 1.5rem;
    border-radius: 999px;
  }
}
}
