.sub-title-wrap {
  display: flex;
  align-items: center;
  padding-bottom: 4rem;
  .count {
    font-size: 2.3rem;
    color: #1f17ff;
    font-weight: 600;
    
  }
  .sub-title {
    letter-spacing: -.02rem;
    font-size: 2rem;
    font-weight: 600;
  }
  a {
    padding-left: 2rem;
    font-size: 1.6rem;
    color: #1f17ff;
    font-weight: 600;
  }
}
