.categories-list-wrap {
  // height: 20rem;
  padding: 5rem 0;
  margin-bottom: 0 !important;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  button {
    cursor: pointer;
    width: 10rem;
    height: 10rem;
    border-radius: 999px;
    border: transparent;
    padding: 1.5rem;
    background-color: #f4f4f4;
    .icon {
      width: 3.5rem;
      padding-bottom: 0.7rem;
    }
    span {
      display: block;
    }
  }
}
