.sub-title-wrap{
    display: flex;
    gap: 0 1rem;
    align-items: center;
    padding-bottom: 2rem;
    .sub-title{
        font-size: 2rem;
        font-weight: 600;
    }
    a{
        font-size: 1.6rem;
        color: #1F17FF;
        font-weight: 600;
    }
}