//
header {
  z-index: 999;

  background-color: #fff;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 1.5rem 0;
  
  .logo-box {
    img {
      width: 100%;
    }
  } //logo-box
  .search-bar {
    background-color: #f2f2f2;
    width: 80rem;
    padding: 1rem 2rem;
    border-radius: 999px;
    font-size: 2rem;
    display: flex;
    align-items: center;
    gap: 2rem;
    input {
      background-color: transparent;
      border: transparent;
      &:focus {
        outline: none;
      }
    }
  } //search-bar
  .icon-menu-wrap {
    display: flex;
    gap: 1rem;
    button {
      width: 4rem;
      height: 4rem;
    }
  } //icon-menu-wrap
  .user-menu-wrap {
    display: flex;
    gap: 1rem;
  } //user-menu-wrap
}
